.friend_list{
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 652px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.friend_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 115px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.53);
}
.status{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
}
.online{
    background-color:green;
}
.offline{
    background-color: red;
}
.friend_avatar{
    margin-right: 20px;
}